[Desktop Entry]
Version=1.0
Name=Claude
Comment=Claude
Exec=omarchy-launch-or-focus-webapp Claude https://claude.ai
Terminal=false
Type=Application
Icon=/home/vin/.local/share/applications/icons/Claude.png
StartupNotify=true
StartupWMClass=chrome-claude.ai__-Default

