[Desktop Entry]
Version=1.0
Name=Discord
Comment=Discord
Exec=omarchy-launch-or-focus-webapp Discord https://discord.com/channels/@me
Terminal=false
Type=Application
Icon=/home/vin/.local/share/applications/icons/Discord.png
StartupNotify=true
StartupWMClass=chrome-discord.com__channels_@me-Default
