[Desktop Entry]
Version=1.0
Type=Application
Name=Glide
Comment=Glide Web Browser
Exec=/home/vin/.local/share/glide/glide %u
Icon=/home/vin/.local/share/glide/browser/chrome/icons/default/default128.png
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=glide
