[Desktop Entry]
Version=1.0
Name=Lazysql
Comment=Lazysql
Exec=ghostty --font-size=18 --class="com.lazysql" --title="lazysql" -e lazysql
Terminal=false
Type=Application
Icon=/home/vin/.local/share/applications/icons/Lazysql.png
StartupNotify=true
StartupWMClass="com.lazysql"
