[Desktop Entry]
Version=1.0
Name=Univirtus
Comment=Univirtus
Exec=omarchy-launch-webapp https://univirtus.uninter.com
Terminal=false
Type=Application
Icon=/home/vin/.local/share/applications/icons/Univirtus.png
StartupNotify=true
StartupWMClass=chrome-univirtus.uninter.com__-Default

